h1, h2, h3 {
    margin: 0px 0px 18px 0px;
    color: #32231F !important;
    padding: 24px 0px 0px 0px;
}

p, ul {
    margin: 18px 0px 18px 0px;
}

img {
    margin: 12px 0px 12px 0px;
    max-width: 100%;
}

ul {
    padding-left: 18px;
}

div#footer {
    margin: 60px 0px 36px 0px;
}

html {
    background-color: #f9f9f9;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 24px;
}

body {
    color: #32231F;
}

a {
    color: #E73211;
    text-decoration: none;
    border-bottom: 1px solid #32231F;
}

a:hover {
  border-bottom: 2px solid #E73211;
}

div.figure a{
    border: none;
}

div.flickr img {
    border: 1px solid #888;
    padding: 6px;
}

div.flickr {
    margin-top:    60px;
    margin-bottom: 60px;
}

a img {
    margin-bottom: 0px;
}

pre {
    font-size: 14px;
    margin-left: 18px;
    overflow: auto;
}

@font-face {
	font-family: 'IosevkaWeb';
	font-weight: 100;
	src: url('../fonts/iosevka.woff2') format('woff2'), url('../fonts/iosevka.woff') format('woff');
}

code {
  font-family: 'Iosevka', 'IosevkaWeb', monospace;
}

p code {
  background: rgba(0,0,0,0.1);
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

ul {
    list-style-image: url("../images/list-style-image.png");
}

blockquote {
    background: #e6e6e6 url("../images/quote-background.png") no-repeat left top;
    font-style: italic;
    margin-left: 18px;
    padding: 6px 6px 6px 54px;
}

.soft, .caption {
    font-style: italic;
    color: #555;
}

div.figure {
    text-align: center;
}

div.figure p {
    margin-top: 6px;
}

div.footnotes {
    color: #555;
    border-left: 1px dashed #555;
}

div.footnotes hr {
    display: none;
}

div#footer {
    font-size: 80%;
    color: #555;
}

.post-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.info {
  font-style: italic;
  color: #555;
  font-size:0.9em;
}

img.photo {
  max-width:25%;
  max-height:25%;
  float:right;
  margin: 0 0 5px 5px;
  border-radius:50%;
}
p.tags {
  font-size: 80%;
}
table {
  border-collapse: collapse;
}
tbody>tr>td, tbody>tr>th, tfoot>tr>td, tfoot>tr>th, thead>tr>td, thead>tr>th {
  border: 1px solid #ddd;
  padding: 6px;
}

 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 6px 0;
    border-radius: 6px;
    font-size: 80%;
    line-height: 1.5;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -150px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.1s;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/*******************************************************************************
 * Disqus                                                                      *
 ******************************************************************************/

/* Reset list image for disqus */
div#disqus_thread ul {
    list-style-image: none;
}

div#dsq-subscribe em {
    text-decoration: none;
}
