html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    height: 100%;
}

div#navigation {
    padding-bottom: 18px;
    text-align: center;
}

div#navigation a:first-child {
  margin-top: 0px;
}

div#navigation a {
    border: none;
    margin: 0px 6px 0px 6px;
}

div#content {
    margin: 12px;
}

div#lightbox {
    margin: 0px;
    background-color: #000;
    height: 100%;
}

@media all and (min-width: 822px) {
    div#navigation {
        background: none;
        float: left;
        left: 0px;
        margin: 0px 0px 0px 18px;
        position: fixed;
        top: 0px;
        width: 170px;
    }

    div#navigation h1, div#navigation > a {
        display: block;
        text-align: right;
    }

    div#navigation > div > a > i.fa {
      font-size:1.5em;
    }

    div#navigation > div {
      text-align: right;
    }

    div#navigation a {
        margin: 6px 0px 6px 0px;
    }

    div#content {
        margin: 20px 0px 0px 206px;
        padding: 0px 36px 0px 36px;
        width: 648px;
    }

    div#lightbox {
        margin: 0px 0px 0px 155px;
    }
}
