<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Joomy Korkut - $title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="joomy,cumhur,korkut,haskell,coq,agda,idris,wesleyan,princeton,metaprogramming,compiler,formal,verification,verified,certified,programming,bloomberg,turkish,turkey" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/syntax.css" />
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="Joomy's web site and blog" href="http://joomy.korkutblech.com/atom.xml" />
    <meta name="author" content="Joomy Korkut">
    <meta name="description" content="Joomy's web site and blog."/>
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Joomy Korkut">
    $if(description)$
      <meta itemprop="description" content="$description$">
    $else$
      <meta itemprop="description" content="Joomy's web site and blog.">
    $endif$
    <meta itemprop="image" content="/assets/icon.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="$title$" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://joomy.korkutblech.com/" />
    <meta property="og:image" content="http://joomy.korkutblech.com/assets/icon.png" />
    $if(description)$
      <meta property="og:description" content="$description$">
    $else$
      <meta property="og:description" content="Joomy's web site and blog.">
    $endif$
    <meta property="og:site_name" content="Joomy Korkut" />
    $if(mathjax)$
      <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    $endif$
    <script src="/assets/page.js"></script>
  </head>
  <body>
    $body$
  </body>
</html>
